.layer{
 position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.countContent{
  color: white;
  z-index:2;
  width:80vw;
  padding: 1em;
  background:#000;
  height: 85vh;
    position: absolute;
}

.show{
display:initial;
}

.unshow{
    display: none;
}

.radius{
  display: block;
  width: 500px;
  height: 500px;
  text-align:center;
  line-height: 80px;
  border-radius: 50%;
  margin: 10px auto;
  border: solid 3px darkgrey;
  text-align: center;
  line-height: 500px;

}

.number_rest{
    font-size:300px;
    height: 500px;
    margin: 0;
    margin:0 auto;  
    color: darkgreen;
    line-height: 500px;
    margin: 0 auto;
}

.number_work{
    font-size:300px;
    height: 500px;
    color:darkorange; 
    line-height: 500px;
    margin: 0 auto;
}

.resetButton{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.number_size{
    font-size: 50px;
    margin: 0;
    width :50px;
    position: relative;
    top :50px;
    left: 50px;
}